<h1>edit page</h1>
<input type="text" name="title" ng-model="editedRace.title" placeholder="title" value="">
<input type="text" name="image" ng-model="editedRace.image" placeholder="image" value="">
<input type="text" name="date" ng-model="editedRace.date" placeholder="date" value="">
<input type="text" ng-model="editedRace.description" name="description" placeholder="description" value="">
<button type="button" ng-click="editRace(editedRace)" name="button">Edit Race</button>
<button type="button" ng-click="deleteRace(deleteRace)" name="button">Delete Race</button>
